:root {
  --white: white;
  --paragraphs: #555;
  --black: black;
  --border: #e4e4e4;
  --black-2: #1c1b1a;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-pagination-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.w-pagination-previous {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

body {
  background-color: var(--white);
  color: var(--paragraphs);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  display: flex;
}

h1 {
  color: var(--black);
  letter-spacing: -.4px;
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 50px;
  font-weight: 700;
  line-height: 113%;
}

h2 {
  color: var(--black);
  letter-spacing: -.4px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 42px;
  font-weight: 700;
  line-height: 115%;
}

h3 {
  color: var(--black);
  letter-spacing: -.4px;
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
}

h4 {
  color: var(--black);
  letter-spacing: -.4px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 122%;
}

h5 {
  color: var(--black);
  letter-spacing: -.4px;
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
}

h6 {
  color: var(--black);
  letter-spacing: -.4px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

p {
  margin-bottom: 26px;
}

a {
  text-decoration: underline;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 26px;
  padding-left: 34px;
}

li {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
}

img {
  max-width: 100%;
  display: inline-block;
}

strong {
  font-weight: 700;
}

em {
  font-family: Playfair Display, sans-serif;
  font-style: italic;
  font-weight: 400;
}

blockquote {
  border-left: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 26px;
  margin-left: 16px;
  padding: 2px 24px;
  font-family: Playfair Display, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 160%;
}

figure {
  margin-top: 36px;
  margin-bottom: 36px;
}

figcaption {
  text-align: center;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 160%;
}

.link {
  box-shadow: inset 0 -1px 0 0 var(--black);
  color: var(--black);
  text-decoration: none;
  transition: color .25s cubic-bezier(.25, .46, .45, .94), box-shadow .25s cubic-bezier(.25, .46, .45, .94);
  display: inline;
}

.link:hover {
  box-shadow: inset 0 -28px 0 0 var(--black);
  color: var(--white);
}

.rich-text-block {
  width: 100%;
  max-width: 780px;
  color: #1c1b1a;
  font-weight: 500;
  display: block;
}

.rich-text-block a {
  box-shadow: inset 0 -1px 0 0 var(--black);
  color: var(--black);
  text-decoration: none;
  transition: color .25s cubic-bezier(.25, .46, .45, .94), box-shadow .25s cubic-bezier(.25, .46, .45, .94);
}

.rich-text-block a:hover {
  box-shadow: inset 0 -28px 0 0 var(--black);
  color: var(--white);
}

.rich-text-block img {
  border-radius: 8px;
}

.rich-text-block.wide {
  max-width: none;
  margin-bottom: 24px;
}

.rich-text-block.about__introblock {
  display: none;
}

.navbar {
  z-index: 500;
  width: 100%;
  background-color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  position: fixed;
  top: 0;
}

.navbar-grid {
  z-index: 150;
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-bottom: 1px solid var(--border);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.nav-left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.logo {
  height: 53px;
  max-width: 100%;
  object-fit: none;
  align-self: auto;
}

.brand {
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.utility-page-wrap {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 150px 20px 30px;
  display: flex;
}

.utility-page-content {
  width: 100%;
  max-width: 340px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.utility-page-form {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 15px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.search {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.search-nav-input {
  width: 70px;
  height: 24px;
  color: var(--black);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 1px rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  transition: width .25s cubic-bezier(.25, .46, .45, .94);
}

.search-nav-input:hover {
  width: 76px;
}

.search-nav-input:focus {
  width: 170px;
}

.search-nav-input::-ms-input-placeholder {
  color: var(--black);
}

.search-nav-input::placeholder {
  color: var(--black);
}

.content {
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 210px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.section.page {
  padding-top: 80px;
}

.nav-menu {
  z-index: 100;
  width: 100%;
  background-color: var(--white);
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, .07);
}

.menu-button {
  height: 24px;
  min-width: 24px;
  flex: none;
  padding: 0;
}

.menu-button.w--open {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0);
}

.nav-link {
  color: var(--black);
  letter-spacing: -.4px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
  text-decoration: none;
}

.menu-grid {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 1px solid var(--white);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.menu-block {
  border-left: 1px solid var(--border);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.menu-block.first {
  border-left-style: none;
}

.menu-text {
  opacity: .5;
  color: var(--black);
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
}

.search-icon-button {
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  background-image: var(--image-i4cf71348);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  flex: none;
  padding: 0;
}

.menu-icon {
  width: 24px;
  height: 24px;
  max-width: none;
  display: block;
  position: absolute;
}

.close-icon {
  width: 24px;
  height: 24px;
  max-width: none;
  opacity: 0;
  display: block;
  position: absolute;
}

.menu-button-text {
  color: var(--black);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 32px;
  padding: 4px;
  font-size: 13px;
  font-weight: 600;
  line-height: 130%;
  display: block;
}

.collection-list---2a {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-list-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.post-text-gradient {
  z-index: 10;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--black));
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 16% 7% 7%;
  display: flex;
}

.post-heading {
  color: var(--black);
  margin-bottom: 0;
}

.post-heading.white {
  color: var(--white);
}

.category {
  background-color: var(--white);
  color: var(--black);
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 110%;
}

.post-info {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7px;
  display: flex;
}

.date {
  color: rgba(0, 0, 0, .6);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 110%;
}

.date.white {
  color: var(--white);
}

.link-post {
  width: 100%;
  height: 680px;
  background-color: var(--black);
  perspective: 1000px;
  background-image: var(--image-7b40fadb);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  transition: transform .25s cubic-bezier(.25, .46, .45, .94), filter .45s cubic-bezier(.25, .46, .45, .94), box-shadow .45s cubic-bezier(.25, .46, .45, .94);
  display: flex;
  overflow: hidden;
  transform: none;
}

.link-post:hover {
  filter: brightness(110%);
  overflow: hidden;
  box-shadow: 0 50px 80px -20px rgba(0, 0, 0, .4);
}

.link-post._230px-margin {
  height: 230px;
  margin-bottom: 17px;
}

.link-post._500px-margin {
  height: 500px;
  margin-bottom: 27px;
}

.link-post._100 {
  height: 100%;
  min-height: 230px;
}

.link-post._340px {
  height: 340px;
}

.link-post._340px-margin {
  height: 340px;
  margin-bottom: 22px;
}

.link-post._470px {
  height: 470px;
}

.link-post._380px {
  height: 380px;
}

.collection-item {
  width: 100%;
  perspective: 1000px;
}

.empty-state {
  width: 100%;
  border: 1px solid var(--border);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  padding: 15px;
}

.empty-text {
  font-size: 16px;
  line-height: 140%;
}

.space {
  width: 100%;
  height: 1px;
  background-color: var(--border);
  margin-top: 50px;
  margin-bottom: 50px;
}

.space._40px {
  margin-top: 40px;
  margin-bottom: 40px;
}

.space.top {
  margin-top: 0;
}

.collection-list---3a {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 57px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.post-text {
  z-index: 10;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.link-category {
  color: rgba(0, 0, 0, .6);
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #efefef;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
  transition: background-color .25s cubic-bezier(.25, .46, .45, .94), color .25s cubic-bezier(.25, .46, .45, .94);
}

.link-category:hover {
  background-color: var(--black);
  color: var(--white);
}

.link-category.white {
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--black);
  padding: 5px 9px;
}

.link-category.white:hover {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
}

.link-post-heading {
  margin-top: 3px;
  text-decoration: none;
}

.subscribe {
  width: 100%;
  background-color: var(--border);
  background-image: var(--image-i5e53249d);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

.subscribe-block {
  width: 100%;
  max-width: 790px;
  background-color: var(--black);
  text-align: center;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 62px 10%;
  display: flex;
}

.subscribe-heading {
  color: var(--white);
  margin-bottom: 16px;
  font-size: 48px;
}

.paragraph-subscribe {
  max-width: 330px;
  opacity: .65;
  color: var(--white);
  font-size: 17px;
  line-height: 160%;
}

.form-block-subscribe {
  width: 100%;
  max-width: 400px;
  margin-bottom: 8px;
}

.form-subscribe {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: auto;
  align-items: center;
  display: grid;
}

.text-field-subscribe {
  height: 50px;
  color: var(--white);
  background-color: rgba(255, 255, 255, .15);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 4px;
  margin-bottom: 0;
  padding: 15px;
  font-size: 16px;
  line-height: 115%;
  transition: border-color .25s cubic-bezier(.25, .46, .45, .94);
}

.text-field-subscribe:focus {
  border-color: rgba(255, 255, 255, .25);
}

.text-field-subscribe::-ms-input-placeholder {
  color: rgba(255, 255, 255, .5);
}

.text-field-subscribe::placeholder {
  color: rgba(255, 255, 255, .5);
}

.submit-button-subscribe {
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--black);
  border-radius: 4px;
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 115%;
  transition: color .25s cubic-bezier(.25, .46, .45, .94), background-color .25s cubic-bezier(.25, .46, .45, .94);
}

.submit-button-subscribe:hover {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
}

.success-message {
  background-color: rgba(0, 0, 0, 0);
  border: 2px dashed #0eb232;
  border-radius: 4px;
  padding: 12px;
}

.error-message {
  background-color: rgba(0, 0, 0, 0);
  border: 2px dashed #e52121;
  border-radius: 4px;
  padding: 12px;
}

.error-text {
  color: #e52121;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.success-text {
  color: #0eb232;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.grid-content {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 2.2fr 1fr;
  align-items: start;
  position: relative;
}

.collection-list---1a {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 74px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 28px;
  display: grid;
}

.posts-block {
  width: 100%;
  border-right: 1px solid var(--border);
  padding-right: 50px;
}

.post-summary {
  margin-top: 20px;
  margin-bottom: 0;
  padding-right: 8%;
  font-size: 16px;
  line-height: 170%;
}

.post-summary.white {
  opacity: .6;
  color: var(--white);
}

.grid-sidebar {
  grid-column-gap: 0px;
  grid-row-gap: 70px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-left: 50px;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}

.text-sidebar {
  color: var(--black);
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}

.sidebar {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.link-categories {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.link-categories.w--current {
  border: 1px solid var(--border);
  background-color: #fbfbfb;
  border-radius: 8px;
  margin-top: -9px;
  margin-bottom: -9px;
  padding: 8px 10px 8px 15px;
}

.category-heading {
  margin-bottom: 0;
}

.outline-circle {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 100%;
  flex: none;
  margin-right: 15px;
  position: relative;
  box-shadow: inset 0 0 0 1px #d2d2d2;
}

.filled-circle {
  background-color: var(--black);
  border-radius: 100%;
  flex: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.collection-list---categories {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.link-post-featured {
  width: 100px;
  height: 100px;
  background-color: var(--black);
  perspective: 1000px;
  background-image: var(--image-7b40fadb);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  flex: none;
  text-decoration: none;
  transition: transform .2s cubic-bezier(.25, .46, .45, .94), filter .35s cubic-bezier(.25, .46, .45, .94), box-shadow .35s cubic-bezier(.25, .46, .45, .94);
  display: block;
  overflow: hidden;
}

.link-post-featured:hover {
  filter: brightness(110%);
  overflow: hidden;
  box-shadow: 0 30px 50px -15px rgba(0, 0, 0, .4);
}

.featured-sidebar {
  perspective: 1000px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.featured-text {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 22px;
  display: flex;
}

.collection-list---featured-sidebar {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 35px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.featured-info {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3px;
  display: flex;
}

.collection-list {
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.collection-item---tag {
  perspective: 1000px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 7px;
  margin-right: 7px;
  display: inline-block;
}

.tag {
  border: 1px solid var(--border);
  background-color: var(--white);
  color: var(--paragraphs);
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
  transition: color .25s cubic-bezier(.25, .46, .45, .94), background-color .25s cubic-bezier(.25, .46, .45, .94);
  display: block;
}

.tag:hover {
  background-color: var(--black);
  color: var(--white);
}

.tag.w--current {
  border-color: var(--black);
}

.button-posts {
  width: 100%;
  border: 2px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 8px;
  margin-top: 50px;
  padding: 20px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 115%;
  transition: color .25s cubic-bezier(.25, .46, .45, .94), background-color .25s cubic-bezier(.25, .46, .45, .94);
  display: inline-block;
}

.button-posts:hover {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0);
}

.button-posts.max-w {
  max-width: 250px;
}

.grid-footer {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 1px solid var(--border);
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
}

.block-footer {
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.block-footer-link {
  border-left: 1px solid var(--border);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  display: flex;
}

.link-footer {
  opacity: .6;
  color: var(--black);
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  font-weight: 600;
  line-height: 140%;
  text-decoration: none;
  transition: opacity .25s cubic-bezier(.25, .46, .45, .94);
}

.link-footer:hover {
  opacity: 1;
}

.logo-footer {
  width: 224px;
  height: 52px;
  object-fit: none;
}

.small-link-footer {
  opacity: .6;
  color: var(--black);
  margin-left: 15px;
  padding: 7px;
  font-size: 13px;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
  transition: opacity .25s cubic-bezier(.25, .46, .45, .94);
}

.small-link-footer:hover {
  opacity: 1;
}

.content-wide {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.collection-list---3b {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-list---featured {
  width: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: -10px;
  margin-bottom: -10px;
  display: grid;
}

.featured {
  perspective: 1000px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.collection-list---1b {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-item---1b {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  perspective: 1500px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.25fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.post-text-center {
  z-index: 10;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.subscribe-block-wide {
  width: 100%;
  background-color: var(--black);
  text-align: center;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 62px 10%;
  display: flex;
}

.collection-list---3c {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 57px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-hero {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
}

.collection-list---1c {
  width: 100%;
  height: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-list---3d {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 57px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-list---2d {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 57px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-list---1d {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-item---1d {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--black);
  perspective: 1700px;
  border-radius: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.post-text---1d {
  z-index: 10;
  width: 100%;
  min-height: 640px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 14%;
  display: flex;
}

.pagination {
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  display: flex;
}

.previous {
  width: 49%;
  border: 2px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 0;
  padding: 18px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 115%;
  transition: background-color .25s cubic-bezier(.25, .46, .45, .94), color .25s cubic-bezier(.25, .46, .45, .94);
}

.previous:hover {
  background-color: var(--white);
  color: var(--black);
}

.next {
  width: 49%;
  border: 2px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 8px;
  margin-left: auto;
  margin-right: 0;
  padding: 18px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 115%;
  transition: background-color .25s cubic-bezier(.25, .46, .45, .94), color .25s cubic-bezier(.25, .46, .45, .94);
}

.next:hover {
  background-color: var(--white);
  color: var(--black);
}

.post-text-filled {
  z-index: 10;
  width: 90%;
  height: 100%;
  background-color: var(--black);
  text-align: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  padding: 7%;
  display: flex;
}

.top-block {
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px 10%;
  display: flex;
}

.heading {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 110%;
}

.heading.margin {
  color: var(--black-2);
  margin-bottom: 30px;
}

.heading.margin.privacy {
  font-weight: 800;
}

.heading.margin._2ndmargin {
  text-align: right;
  margin-top: 90px;
  margin-bottom: 90px;
}

.heading.margin._3rdmargin {
  margin-top: 30px;
}

.main-image {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 8px;
}

.post-heading-block {
  width: 100%;
  max-width: 780px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.tags-block {
  width: 100%;
  max-width: 780px;
  margin-top: 20px;
}

.page-content {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
}

.page-block {
  width: 100%;
  max-width: 780px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.page-block.center {
  text-align: center;
  align-items: center;
}

.page-block.template {
  border-top: 1px solid var(--border);
  padding-top: 50px;
  padding-bottom: 30px;
}

.grid-image {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.image-about {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.paragraph {
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 0;
}

.form-block {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.text-field {
  height: 60px;
  border: 1px solid var(--border);
  color: var(--black);
  background-color: #fbfbfb;
  border-radius: 8px;
  margin-bottom: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 115%;
  transition: border-color .25s cubic-bezier(.25, .46, .45, .94);
}

.text-field:focus {
  border-color: #afafaf;
}

.text-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.text-field::placeholder {
  color: rgba(0, 0, 0, .6);
}

.submit-button {
  border: 2px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  border-radius: 8px;
  padding: 20px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 115%;
  transition: color .25s cubic-bezier(.25, .46, .45, .94), background-color .25s cubic-bezier(.25, .46, .45, .94);
}

.submit-button:hover {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0);
}

.form {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.textarea {
  max-height: 400px;
  max-width: 100%;
  min-height: 220px;
  min-width: 100%;
  border: 1px solid var(--border);
  color: var(--black);
  background-color: #fbfbfb;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 16px 20px;
  font-size: 16px;
  line-height: 150%;
  transition: border-color .25s cubic-bezier(.25, .46, .45, .94);
}

.textarea:focus {
  border-color: #afafaf;
}

.textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.textarea::placeholder {
  color: rgba(0, 0, 0, .6);
}

.grid-colors {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.block-color {
  height: 110px;
  border: 1px solid var(--border);
  border-radius: 6px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  display: flex;
}

.block-color.border {
  background-color: var(--border);
}

.block-color.paragraphs {
  background-color: var(--paragraphs);
}

.block-color.black {
  background-color: var(--black);
}

.text-color {
  color: var(--black);
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
}

.text-color.white {
  color: var(--white);
}

.hex-color {
  opacity: .5;
  color: var(--black);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 120%;
}

.hex-color.white {
  color: var(--white);
}

.template-info {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding: 18px;
  display: flex;
}

.button {
  border: 2px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 8px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 115%;
  transition: color .25s cubic-bezier(.25, .46, .45, .94), background-color .25s cubic-bezier(.25, .46, .45, .94);
  display: inline-block;
}

.button:hover {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0);
}

.manrope {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.playfair-display {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-family: Playfair Display, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.grid-licensing {
  width: 100%;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.licensing {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.footer {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.field-label {
  color: var(--black);
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.grid-search {
  width: 100%;
  max-width: 780px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  border-bottom: 1px solid var(--border);
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 50px;
  padding-bottom: 50px;
  display: grid;
}

.search-input {
  height: 62px;
  border: 1px solid var(--border);
  color: var(--black);
  background-color: #fbfbfb;
  border-radius: 8px;
  margin-bottom: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 115%;
  transition: border-color .25s cubic-bezier(.25, .46, .45, .94);
}

.search-input:focus {
  border-color: #afafaf;
}

.search-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.search-input::placeholder {
  color: rgba(0, 0, 0, .6);
}

.search-button {
  border: 2px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 8px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 115%;
  transition: color .25s cubic-bezier(.25, .46, .45, .94), background-color .25s cubic-bezier(.25, .46, .45, .94);
  display: inline-block;
}

.search-button:hover {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0);
}

.search-result-url {
  color: rgba(0, 0, 0, .5);
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.paragraph-snippet {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 160%;
}

.search-result-item {
  border-bottom: 1px solid var(--border);
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.splash-subtitle {
  width: 100%;
  height: 1px;
  background-color: var(--border);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
}

.subtitle {
  background-color: var(--white);
  color: var(--black);
  border-radius: 4px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
}

.grid-splash {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  margin-bottom: 90px;
}

.grid-splash._3-columns {
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.splash {
  perspective: 1000px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.link-splash-img {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 8px;
  transition: box-shadow .45s cubic-bezier(.25, .46, .45, .94), transform .25s cubic-bezier(.25, .46, .45, .94);
  display: block;
  overflow: hidden;
}

.link-splash-img:hover {
  box-shadow: 0 50px 80px -20px rgba(0, 0, 0, .2);
}

.splash-img {
  width: 100%;
  object-fit: cover;
}

.link-splash {
  color: rgba(0, 0, 0, .6);
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #efefef;
  border-radius: 4px;
  margin-top: 18px;
  padding: 6px 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
  transition: background-color .25s cubic-bezier(.25, .46, .45, .94), color .25s cubic-bezier(.25, .46, .45, .94);
}

.link-splash:hover {
  background-color: var(--black);
  color: var(--white);
}

.imagemanipnas {
  margin-top: 32%;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 37px;
  }

  h3 {
    font-size: 31px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 22px;
  }

  .collection-list---2a {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .link-post {
    height: 580px;
  }

  .collection-list---3a {
    grid-column-gap: 20px;
  }

  .subscribe {
    padding: 20px;
  }

  .subscribe-heading {
    font-size: 42px;
  }

  .posts-block {
    padding-right: 30px;
  }

  .grid-sidebar {
    padding-left: 30px;
  }

  .featured-sidebar {
    flex-direction: column;
    align-items: flex-start;
  }

  .featured-text {
    margin-top: 14px;
    margin-left: 0;
  }

  .block-footer-link {
    padding-left: 30px;
  }

  .collection-list---3b {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .collection-list---featured {
    grid-column-gap: 20px;
  }

  .featured {
    flex-direction: column;
    align-items: flex-start;
  }

  .collection-item---1b {
    grid-column-gap: 30px;
  }

  .collection-list---3c {
    grid-column-gap: 20px;
  }

  .grid-hero, .collection-list---1c {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .collection-list---3d, .collection-list---2d {
    grid-column-gap: 20px;
  }

  .post-text---1d {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .heading {
    font-size: 50px;
  }

  .post-heading-block {
    margin-top: 60px;
  }

  .grid-image {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .grid-splash {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 17px;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
  }

  .navbar-grid {
    grid-column-gap: 10px;
    border-bottom-style: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .logo {
    max-width: 128%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .brand {
    padding: 5px;
  }

  .utility-page-wrap {
    padding-top: 50px;
  }

  .section, .section.page {
    padding-top: 0;
  }

  .menu-grid {
    grid-row-gap: 30px;
    border-top-color: var(--border);
    grid-template-columns: 1fr;
  }

  .menu-block {
    border-left-style: none;
  }

  .collection-list---2a {
    grid-template-columns: 1fr;
  }

  .date {
    padding: 5px 8px;
    font-size: 10px;
  }

  .link-post {
    height: 80vw;
  }

  .link-post._230px-margin {
    height: 60vw;
  }

  .link-post._500px-margin {
    height: 60vw;
    margin-bottom: 18px;
  }

  .link-post._100 {
    height: 60vw;
  }

  .link-post._340px {
    height: 50vw;
  }

  .link-post._340px-margin {
    height: 60vw;
  }

  .link-post._470px {
    height: 80vw;
  }

  .link-post._380px {
    height: 100vw;
  }

  .space, .space._40px {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .collection-list---3a {
    grid-column-gap: 15px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .link-category {
    padding: 4px 8px;
    font-size: 10px;
  }

  .subscribe-heading {
    font-size: 36px;
  }

  .form-subscribe, .grid-content {
    grid-template-columns: 1fr;
  }

  .collection-list---1a {
    grid-row-gap: 55px;
  }

  .posts-block {
    border-bottom: 1px solid var(--border);
    border-right-style: none;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-right: 0;
  }

  .post-summary {
    margin-top: 14px;
  }

  .grid-sidebar {
    grid-row-gap: 50px;
    padding-left: 0;
  }

  .link-post-featured {
    width: 80px;
    height: 80px;
  }

  .featured-sidebar {
    flex-direction: row;
    align-items: center;
  }

  .featured-text {
    margin-top: 0;
    margin-left: 20px;
  }

  .button-posts {
    margin-top: 40px;
  }

  .grid-footer {
    grid-row-gap: 35px;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .block-footer {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .block-footer-link {
    text-align: center;
    border-left-style: none;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
  }

  .logo-footer {
    width: 207px;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 5px;
  }

  .small-link-footer {
    margin-left: 0;
  }

  .collection-list---featured {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .featured {
    flex-direction: row;
    align-items: center;
  }

  .collection-item---1b {
    grid-row-gap: 15px;
    grid-template-columns: 1fr;
  }

  .collection-list---3c {
    grid-column-gap: 15px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .grid-hero {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1.5fr;
  }

  .collection-list---1c {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr;
  }

  .collection-list---3d {
    grid-column-gap: 15px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .collection-list---2d {
    grid-column-gap: 15px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .collection-item---1d {
    grid-template-columns: 1fr;
  }

  .post-text---1d {
    min-height: auto;
  }

  .top-block {
    border-top: 1px solid var(--border);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .heading {
    font-size: 44px;
  }

  .post-heading-block {
    margin-top: 40px;
  }

  .page-content {
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .page-block.template {
    padding-top: 30px;
  }

  .grid-image {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .grid-image.about__gridspecial {
    grid-template-columns: 1fr;
  }

  .paragraph {
    margin-top: 20px;
  }

  .grid-colors {
    grid-template-columns: 1fr 1fr;
  }

  .grid-licensing {
    grid-template-columns: 1fr;
  }

  .grid-search, .search-result-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .splash-subtitle {
    margin-top: 30px;
    margin-bottom: 35px;
  }

  .grid-splash {
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }

  .grid-splash._3-columns {
    grid-template-columns: 1fr 1fr;
  }

  .link-splash {
    margin-top: 10px;
    font-size: 10px;
  }

  .imagemanipnas {
    margin-top: 5%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 21px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-grid {
    grid-column-gap: 15px;
    grid-template-columns: 1fr auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .nav-right {
    display: none;
  }

  .logo {
    width: 162px;
    max-width: 100%;
  }

  .brand {
    justify-content: flex-start;
    padding: 5px 0;
  }

  .utility-page-wrap, .section, .nav-menu {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu-grid {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .menu-text {
    margin-bottom: 12px;
  }

  .menu-button-text {
    display: none;
  }

  .collection-list---2a {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .link-post._230px-margin {
    margin-bottom: 14px;
  }

  .link-post._340px {
    min-height: 230px;
  }

  .link-post._340px-margin {
    margin-bottom: 14px;
  }

  .collection-list---3a {
    grid-template-columns: 1fr;
  }

  .subscribe {
    padding: 10px;
  }

  .subscribe-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .subscribe-heading {
    font-size: 30px;
  }

  .paragraph-subscribe {
    font-size: 15px;
  }

  .featured-text {
    margin-left: 16px;
  }

  .tag {
    padding: 10px 15px;
  }

  .collection-list---3b {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .collection-list---3c, .collection-list---3d {
    grid-template-columns: 1fr;
  }

  .post-text---1d {
    padding: 50px 10%;
  }

  .previous, .next {
    padding-left: 15px;
    padding-right: 15px;
  }

  .top-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .heading {
    font-size: 30px;
  }

  .grid-image, .grid-colors {
    grid-template-columns: 1fr;
  }

  .template-info {
    padding: 14px;
  }

  .licensing {
    height: 80vw;
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .grid-search {
    grid-template-columns: 1fr;
  }

  .grid-splash._3-columns {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }
}

#w-node-_30c87c6b-e5ea-20bb-4e1a-93a6ca90aca7-ca90ac9f, #w-node-b7701636-a34a-92f1-bbeb-508bd9d78ea5-4b1d96ea {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7e005874-ddbd-f10d-50f0-c853881fbb2f-ba1d96ed, #w-node-_1d257728-5f87-eaea-2208-94804d15a6ae-201d96ef, #w-node-_949ded32-22eb-2b94-acf1-a396ad05dd33-931d96f0, #w-node-_949ded32-22eb-2b94-acf1-a396ad05dd33-c11d96f2 {
  align-self: stretch;
}

#w-node-_82de3149-ade5-30c6-4bb3-fec6df6d2d8f-171d96f3, #w-node-_82e3fbc5-dfe8-aa36-19a0-2a411433626b-171d96f3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_949ded32-22eb-2b94-acf1-a396ad05dd33-a01d96f7 {
  align-self: stretch;
}

#w-node-a14ec045-916d-f627-57a2-2f8afb49368d-a01d96f7 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-a14ec045-916d-f627-57a2-2f8afb493691-a01d96f7 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_949ded32-22eb-2b94-acf1-a396ad05dd33-611d96f8, #w-node-_949ded32-22eb-2b94-acf1-a396ad05dd33-ec1d96f9, #w-node-_9d7aaf34-b07d-34c2-d85e-6239c5070c76-9f1d96fc {
  align-self: stretch;
}

@media screen and (max-width: 767px) {
  #w-node-af7177d4-a876-72d8-f1e2-a885b81feeb7-b81feeb5 {
    order: 9999;
  }

  #w-node-_9f444a6a-6e51-c7e4-b624-cac042d70dda-c11d96f2 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_82de3149-ade5-30c6-4bb3-fec6df6d2d91-171d96f3 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_30c87c6b-e5ea-20bb-4e1a-93a6ca90aca7-ca90ac9f {
    order: -9999;
  }
}


